body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    border: 2px solid #F1F1F1;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    margin: 15px 0;

}

.title {
    background-color: #2ECC71;
    width: 100%;
    border-radius: 2px;
    margin: 5px 5px;
    text-align: center;
    padding: 20px 0;
}

.A {
    display: flex;
    justify-content: space-around;
}